<h1>Votes#index</h1>
<%= form_tag "/", method: "post" do %>
  <input type="text" name="vote"/>
  <input type="submit" value="Proposer un vote"/>
<% end %>
<% @votes.each do |vote| %>
	<a class="dm-vote" href="/votes/<%= vote.id %>">
		<p> <%= vote.voter_count %> votes | <%= vote.quest %> </p>
	</a>
<% end %>
